@using EF.Core.Data
@using EF.Web.Models
@using EF.Web.Controllers
@model EF.Core.Data.Transactions

    @{
        ViewBag.Title = "Transaction alldetails";
    }

    <h2>Transaction alldetails</h2>

    <div class="book-example panel panel-primary">
        <div class="panel-heading panel-head">Transaction alldetails</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-9">
                        @Html.DisplayFor(model => model.Description, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Users.Login, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-9">
                        @Html.DisplayFor(model => model.Users.Login, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TranactionType.Name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-9">
                        @Html.DisplayFor(model => model.TranactionType.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-9">
                        @Html.DisplayFor(model => model.Date, new { @class = "form-control" })
                    </div>
                </div>
               
                <div class="form-group">
                    <table class="table" style="margin: 4px">
                        <caption>List of Goods In Transaction</caption>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Quantity
                            </th>
                        </tr>
                        @foreach (var item in Model.GoodsInTransaction)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Goods.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Quantity)
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                @using (Html.BeginForm())
            {
                    <div class="form-group">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-9">
                            @Html.ActionLink("Edit", "CreateEditTransaction",
                        new { id = Model.ID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Back to List", "Index",
                        null, new { @class = "btn btn-success" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
